<h1>Confirmez votre enregistrement</h1>

<p>Merci de vous êtes enregistré <%= user.name %>.</p>

<p>Vérifiez votre mail <%= user.email %> afin de pouvoir réinitialiser votre mot de passe si nécessaire. Vouz pouvez toujours utiliser notre site tant que votre adresse mail n'est pas validée mais nous ne pourrons pas vous envoyer de mails de façon fiable.</p>

<p>Suivez <a href='<%= email.link %>'>ce lien</a> pour vérifier votre mail.</p>

<p>Si vous n'êtes pas à l'origine de cette requête envoyez-nous un mail en cliquant sur <a href="mailto:support@kalisio.com?subject=Je ne me suis pas enregistré sur ce site&body=Quelqu'un non autorisé a utilisé mon mail.">ce lien</a>.</p>
