notifications:
  email: false
  slack:
    rooms:
      secure: S3xDhrrLgQ1DSBgc42M9wkJzmqYlv/FSeKhcOxDVspy8s/N2N4z4JCGpuX3RYIPEHNIaao9gTvQJ5Ddoq5hCppXncyKsmH4NvDVQ1JdjTRk5KXp6SC0mJvJ7Vh4pKhcpJu87sh9dZs9Io6VqqG/bGpcjt9SFgVz/n24DPKgeREa351GorhncFmnG3ZtItHGe5a7n5V9sM3g5uLUf0ELPew6iPvkyx5xNvyMfMrgcJDbXKHQR6S5xvp7Pw/GkXGVR7d1nQElKMsDOlEiui+l2ctRFo0ZnNGoVzvLGKygkw717Q6k215Gq7x/eZI5//Kidwxra0ks7NYhYhzayRiy+pJ2ZYH3N8c5KL6xbVzyNn8LpP733Ra48oJZK+yjk77TAIkwvBsoH0p1Hc1fi12fdgrhACHa48zy/ILMcnGILfX5BOjVwpPy2dUbiKQHmClrq4Fe+t9vK11wqEjJr/bm2WfmbqEudWn3Kb1Vpk5ZohNZuhXcqJ/PdT9ns9ac8jNHxP3mAiCulOQbRNFq95ZjYQuMscKzlw18WUNyfi/5hsMCKgi78Kbg5Bzia1SieF0w+uo3qHDNIEPiuQevrSc0zGLUaPn+G4O08tx75Gxjg23/leBvn36qv2rXG1+RjL7saj00S2sTSKEB9rXWf8unE19Rh2gXDg4Asxyr63nOLBBI=
    on_success: always
    on_failure: always
stages:
- name: BUILD
- name: TEST
- name: DEPLOY
- name: ANDROID
jobs:
  include:
  - stage: BUILD
    language: node_js
    node_js:
    - '8'
    services:
    - docker
    install: true
    script:
    - bash build.travis.sh
    deploy:
      skip_cleanup: true
      provider: s3
      access_key_id: "$S3_ACCESS_KEY"
      secret_access_key: "$S3_SECRET_ACCESS_KEY"
      bucket: aktnmap-builds
      local_dir: dist
      upload_dir: "$TRAVIS_BUILD_NUMBER/dist"
      on:
        all_branches: true
  - stage: TEST
    language: node_js
    node_js:
    - '8'
    services:
    - docker
    addons:
      code_climate:
        repo_token: 19d3ef0c5e4541c913514b7a3a3825829e5e354f08dc39fd2c03b7898958d597
    install:
    - npm install -g codeclimate-test-reporter
    script:
    - bash test.travis.sh
  - stage: DEPLOY
    language: node_js
    node_js:
    - '8'
    services:
    - docker
    install: true
    script:
    - openssl aes-256-cbc -K $encrypted_83630750896a_key -iv $encrypted_83630750896a_iv
      -in secrets.tar.enc -out secrets.tar -d
    - tar xvf secrets.tar
    deploy:
      provider: script
      skip_cleanup: true
      script: bash deploy.travis.sh
      on:
        all_branches: true
  - stage: ANDROID
    language: android
    android:
      components:
      - tools
      - platform-tools
      - tools
      - build-tools-26.0.2
      - android-26
      - extra
    before_install:
    - nvm install 8
    - yes | sdkmanager "platforms;android-26"
    install:
    - pip install --user awscli
    - gem install fastlane
    - yarn install
    script:
    - openssl aes-256-cbc -K $encrypted_83630750896a_key -iv $encrypted_83630750896a_iv
      -in secrets.tar.enc -out secrets.tar -d
    - tar xvf secrets.tar
    - aws s3 sync s3://aktnmap-builds/$TRAVIS_BUILD_NUMBER/dist cordova/www
    - bash android.travis.sh
    deploy:
      skip_cleanup: true
      provider: s3
      access_key_id: "$S3_ACCESS_KEY"
      secret_access_key: "$S3_SECRET_ACCESS_KEY"
      bucket: aktnmap-builds
      local_dir: cordova/platforms/android/build/outputs/apk
      upload_dir: "$TRAVIS_BUILD_NUMBER/apk"
      on:
        all_branches: true
