<h1>Réinitialisez votre mot de passe</h1>

<p>Bonjour <%= user.name %>, nous avons eu une requête pour réinitialiser le mot de passe associé à votre mail <%= user.email %>.</p>

<p>Suivez <a href='<%= email.link %>'>ce lien</a> pour réinitialiser votre mot de passe. Si vous ignorez ce message votre mot de passe ne sera pas modifié.</p>

<p>Si vous n'êtes pas à l'origine de cette requête envoyez-nous un mail en cliquant sur <a href="mailto:support@kalisio.com?subject=Je n'ai pas demandé à réinitialiser mon mot de passe&body=Quelqu'un non autorisé a demandé à réinitialiser mon mot de passe.">ce lien</a>.</p>


