<h1>Vos informations ont été changées</h1>

<p>Bonjour <%= user.name %>, vos informations personnelles ont été modifiées. Merci de vérifier que vous avez bien demandé ces changements.</p>
<ul>
<% for (var key in user.verifyChanges) {%>
   <li><%= key %>: <%= user.verifyChanges[key] %></li>
<% } %>
</ul>

<p>Suivez <a href='<%= email.link %>'>ce lien</a> pour approuver ces changements.</p>

<p>Si vous n'êtes pas à l'origine de cette requête envoyez-nous un mail en cliquant sur <a href="mailto:support@kalisio.com?subject=Je n'ai pas changé mes informations&body=Quelqu'un non autorisé a modifié mes informations.">ce lien</a>.</p>

