<h1><%= email.subject %></h1>

<p>Hi <%= user.name %>, we got a request to reset your password associated to your email <%= user.email %>.</p>

<p>Follow <a href='<%= email.link %>'>this link</a> to reset your password. If you ignore this message your password won't be changed.</p>

<p>If you didn't request this change please let us know by following <a href='mailto:support@kalisio.com?subject=I did not ask to reset my password&body=Someone unauthorized sent this reset password request.'>this link</a>.</p>

