// app global css

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #1b5e20;
}
blockquote.text-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #1b5e20;
  border-left: 0;
  text-align: right;
}
blockquote small {
  display: block;
  line-height: 1.4;
  color: #777;
}
blockquote small:before {
  content: '\2014 \00A0';
}

a {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  transition: color 0.25s;
}
a:hover {
  color: $dark;
}
a:active,
a:hover {
  outline-width: 0;
}

p {
  font-size: 1rem;
  letter-spacing: 0;
  margin: 0 0 1rem;
  line-height: 24px;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
p.caption {
  font-weight: 300;
}
p.caption:not(:first-child) {
  margin-top: 2rem;
}
