// Sass/SCSS variables customization
// https://quasar.dev/style/sass-scss-variables#variables-list

@import 'kdk/core.variables';

// Theme
$primary: #72448b;
$secondary: lighten($primary, 30%);
$accent: lighten($primary, 15%);
$dark: darken($primary, 25%);
$info: $accent;
$positive: #7bb946;
$negative: #c74a4a;
$warning: #d09931;
