// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #72448b;
$secondary: lighten($primary, 50%);
$accent: lighten($primary, 25%);
$dark: darken($primary, 25%);
$info: $accent;
$positive: #7bb946;
$negative: #c74a4a;
$warning: #d09931;
$sticky-z-index: 1000;