<h1><%= email.subject %></h1>

<p>Thank you for signing up <%= user.name %>.</p>

<p>Please verify your email <%= user.email %> so you can reset your password if need be. You may still use the site if your email is unverified but we can't send you emails.</p>

<p>Follow <a href='<%= email.link %>'>this link</a> to verify your email.</p>

<p>If you didn't request this change please let us know by following <a href='mailto:support@kalisio.com?subject=I did not sign up at this site&body=Someone unauthorized signed up with my email.'>this link</a>.</p>

