<h1>Votre mot de passe a été réinitialisé</h1>

<p>Bonjour <%= user.name %>, le mot de passe associé à votre mail <%= user.email %> a été réinitialisé.</p>

<p>Si vous n'êtes pas à l'origine de cette requête envoyez-nous un mail en cliquant sur <a href="mailto:support@kalisio.com?subject=Je n'ai pas réinitialisé mon mot de passe&body=Quelqu'un non autorisé a réinitialisé mon mot de passe.">ce lien</a>.</p>

